body{
  background-color: #dbdbdb;
}

.App {
  text-align: center;
}

.main-section {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(202, 202, 202);
}

.clock {
}

.stopwath {
}

span {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  font-size: 1.7em;
  text-align: center;
  background-color: rgb(87, 97, 102);
  color: rgb(255, 255, 255);
}

.stopwatch-btm {
  width: 60px;
  height: ;
  margin: 10px 5px 10px 0;
}

.stopwatch-btm:last-child {
  margin-right: 0;
}